<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-abi-filter" version="1.0.2">
  <name>cordova-plugin-abi-filter</name>
  <description>Filter desired platform ABIs from your project build.</description>
  <license>Apache 2.0 License</license>
  <author>Paul Stresow</author>
  <keywords>cordova,android,build,abi,armeabi,armeabi-v7a,arm64-v8a,x86,x86_64</keywords>

  <engines>
    <engine name="cordova" version=">=7.0.0" />
  </engines>

  <!-- Default - contains all platform abis -->
  <preference name="ABI_FILTER" default="armeabi-v7a,arm64-v8a,x86,x86_64" />

  <platform name="android">
    <hook type="after_plugin_add" src="scripts/apply.js" />
    <hook type="before_prepare" src="scripts/apply.js" />
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>